<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/scargames</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">masterkey</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.jdbc.use_get_generated_keys">true</property>
    <mapping class="br.com.scargames.Bandeira"/>
    <mapping class="br.com.scargames.Biblioteca"/>
    <mapping class="br.com.scargames.Cartao"/>
    <mapping class="br.com.scargames.Cidade"/>
    <mapping class="br.com.scargames.Endereco"/>
    <mapping class="br.com.scargames.Genero"/>
    <mapping class="br.com.scargames.Jogo"/>
    <mapping class="br.com.scargames.Produtora"/>
    <mapping class="br.com.scargames.Usuario"/>
  </session-factory>
</hibernate-configuration>
